.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:sessions, :index)
      %li=link_to pat(:new), url(:sessions, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:sessions)
    .inner
      %table.table
        %tr
          %th.first=mat(:session, :created_at)
          %th=mat(:session, :title)
          %th=mat(:session, :updated_at)
          %th.last="&nbsp;"
        -@sessions.each do |session|
          %tr
            %td.first=session.created_at
            %td=session.title
            %td=session.updated_at
            %td.last
              =button_to pat(:edit), url(:sessions, :edit, :id => session.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:sessions, :destroy, :id => session.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")