.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:clips, :index)
      %li.active=link_to pat(:new), url(:clips, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:clip)
    .inner
      -form_for :clip, url(:clips, :create), :class => :form do |f|
        =partial "clips/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")