.group
  =f.label :file_path
  =f.error_message_on :file_path
  =f.text_field :file_path, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :file_name
  =f.error_message_on :file_name
  =f.text_field :file_name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :file_type
  =f.error_message_on :file_type
  =f.text_field :file_type, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:assets, :index)}';return false", :class => :button