.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:assets, :index)
      %li=link_to pat(:new), url(:assets, :new)
      %li.active=link_to pat(:edit), url(:assets, :edit, :id => @asset.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:asset)
    .inner
      -form_for :asset, url(:assets, :update, :id => @asset.id), :method => :put, :class => :form do |f|
        =partial "assets/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")