.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:audio_sessions, :index)
      %li=link_to pat(:new), url(:audio_sessions, :new)
      %li.active=link_to pat(:edit), url(:audio_sessions, :edit, :id => @audio_session.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:audio_session)
    .inner
      -form_for :audio_session, url(:audio_sessions, :update, :id => @audio_session.id), :method => :put, :class => :form do |f|
        =partial "audio_sessions/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")