.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:audio_sessions, :index)
      %li=link_to pat(:new), url(:audio_sessions, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:audio_sessions)
    .inner
      %table.table
        %tr
          %th.first=mat(:audio_session, :created_at)
          %th=mat(:audio_session, :title)
          %th=mat(:audio_session, :updated_at)
          %th=mat(:audio_session, :account_id)
          %th.last="&nbsp;"
        -@audio_sessions.each do |audio_session|
          %tr
            %td.first=audio_session.created_at
            %td=audio_session.title
            %td=audio_session.updated_at
            %td=audio_session.account_id
            %td.last
              =button_to pat(:edit), url(:audio_sessions, :edit, :id => audio_session.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:audio_sessions, :destroy, :id => audio_session.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")