.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:audio_sessions, :index)
      %li.active=link_to pat(:new), url(:audio_sessions, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:audio_session)
    .inner
      -form_for :audio_session, url(:audio_sessions, :create), :class => :form do |f|
        =partial "audio_sessions/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")