!!! 5
%head
  %meta{ :charset => "utf-8" }
  %title Bahomet DAW
  = stylesheet_link_tag 'reset', '/stylesheets/ui/bahometh/ui.css', 'styles'
  = yield_content :head_css
  //%script{:src => "http://js.pusherapp.com/1.6/pusher.js", :type => "text/javascript"}
  = yield_content :head_js
%body.bahometh
  #wrapper
    #container
      = yield