!!! 5
%head
  %meta{ :charset => "utf-8" }
  %title Bahometh DAW
  = stylesheet_link_tag 'reset', '/stylesheets/ui/bahometh/ui.css', 'styles'
  %script{:src => "http://js.pusherapp.com/1.6/pusher.js", :type => "text/javascript"}
  = javascript_include_tag 'external/jquery-1.4.4.min.js', 'external/jquery-ui-1.8.6.min', 'external/soundmanager2.js', 'collabdaw.js', 'sync.js', 'application.js'
%body.bahometh
  #wrapper
    #container
      = yield